*Container type*

* list

In [48]:
num = [1,2,3,4,5,6,7]

In [9]:
empty_list = []
another_empty_list = list(
another_empty_list

SyntaxError: unexpected EOF while parsing (<ipython-input-9-714e3b873693>, line 3)

In [39]:
num[0]

1

In [40]:
del num[1]
num

[1, 3, 4, 5, 6, 7]

In [41]:
num.remove(5)
num

[1, 3, 4, 6, 7]

In [42]:
6 in num

True

In [43]:
5 in num

False

In [44]:
num.append(5)
num

[1, 3, 4, 6, 7, 5]

In [45]:
num.insert(1,2)
num

[1, 2, 3, 4, 6, 7, 5]

In [46]:
num = num.pop()
num

5

In [49]:
sorted(num)

[1, 2, 3, 4, 5, 6, 7]

In [50]:
num.sort()
num

[1, 2, 3, 4, 5, 6, 7]

In [51]:
num.sort(reverse = True)
num

[7, 6, 5, 4, 3, 2, 1]

In [64]:
a = [1,2,3]
b = a
c = a.copy()
d = a[:]
#e = list(a)

In [61]:
a[0]

1

In [62]:
b[0]

1

In [65]:
d

[1, 2, 3]

In [69]:
a[0] = 2
print('a = ',a,'\nb = ',b,'\nc = ',c,'\nd = ',d)

a =  [2, 2, 3]
b =  [2, 2, 3]
c =  [1, 2, 3]
d =  [1, 2, 3]

* tuple

In [70]:
1,2,3

(1, 2, 3)

In [71]:
empty_tuple = tuple()
empty_tuple

()

In [72]:
def hello():
    return 1,2,3
a,b,c = hello()

In [73]:
a

1

In [74]:
b

2

In [75]:
c

3

In [77]:
a = 1
b = 2
a,b = b,a

In [78]:
a

2

In [79]:
b

1

* dictionary

In [80]:
empty_dict = {}
empty_dict

{}

In [95]:
info = {'name': 'xiaoming', 'age': 12, 'sex': 'male'}

In [83]:
info['name']

'xiaoming'

In [91]:
info.get('name')

'xiaoming'

In [84]:
info.keys()

dict_keys(['name', 'age', 'sec'])

In [85]:
info.items()

dict_items([('name', 'xiaoming'), ('age', 12), ('sec', 'male')])

In [96]:
info['ID'] = '001'
info

{'name': 'xiaoming', 'age': 12, 'sex': 'male', 'ID': '001'}

In [97]:
del info['sex']
info

{'name': 'xiaoming', 'age': 12, 'ID': '001'}

In [98]:
info.clear()
info

{}

* set

In [99]:
empty_set = set()
empty_set

set()

In [103]:
even_set = {2,4,6,8}
even_set

{2, 4, 6, 8}

In [ ]:
# bool
not or and # ! || &&

In [104]:
num_set = {3,6,9,12,15,18}
num_set

{3, 6, 9, 12, 15, 18}

In [105]:
num_set & even_set

{6}

In [106]:
num_set | even_set

{2, 3, 4, 6, 8, 9, 12, 15, 18}

In [107]:
num_set - even_set

{3, 9, 12, 15, 18}

In [108]:
even_set - num_set

{2, 4, 8}

In [109]:
num_set ^ even_set

{2, 3, 4, 8, 9, 12, 15, 18}

In [110]:
(even_set - num_set) - (num_set & even_set)

{2, 4, 8}

*convert into list*

In [111]:
list('qwert')

TypeError: 'list' object is not callable

In [112]:
list((1,2,3))

TypeError: 'list' object is not callable

In [114]:
info = {'name': 'xiaoming', 'age': 12, 'sex': 'male'}
info

{'name': 'xiaoming', 'age': 12, 'sex': 'male'}

In [117]:
list(info)

TypeError: 'list' object is not callable

In [116]:
list(info.values())

TypeError: 'list' object is not callable

*convert to set*

In [118]:
set('abc')

{'a', 'b', 'c'}

*convert dictory*

In [119]:
dict('asdf')

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [120]:
dict([1,2,3])

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [121]:
dict(['as','df','gh'])

{'a': 's', 'd': 'f', 'g': 'h'}

In [122]:
dict([('a','s'),('d','f'),('g','h')])

{'a': 's', 'd': 'f', 'g': 'h'}

In [125]:
dict(('a','s','d','f'))

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [126]:
?zip

In [127]:
s1 = 'qwer'
s2 ='asdf'
list(zip(s1,s2))

TypeError: 'list' object is not callable

In [ ]:
d = list(zip(s1,s2))
d

In [ ]:
s3,s4 = zip(*d)
print(list(s3))
print(list(s4))

*list comprehensions*

*create a list*

In [138]:
num_list = []
for i in range(0,10):
    num_list.append(i)
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [139]:
num_list = list(range(0,10))
num_list

TypeError: 'list' object is not callable

In [140]:
num_list = [i for i in range(0,10)]
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]